:root {
	--max-width: 1400px;
	--red: #ff0000;
	--white: #ffffff;
	--black: #000000;
	--dark-grey: #919191;
	--light-grey: #F2F2F2;
	--font-sans: 'Helvetica', courier, sans-serif;
	--font-serif: 'JJannon Book', serif;
	--font-serif-italic: 'JJannon Book Italic', serif;
	--font-serif-bold: 'JJannon Bold', serif;
	--font-serif-bold-italic: 'JJannon Bold Italic', serif;
	--font-display: 'JJannon Display';
	--font-display-italic: 'JJannon Display Italic';

	
	/* Giant = 1600, Desk = 1024, Mob = Under 1024 */
	--font-size-giant-lg: 1.65rem;  /* 24 Px */
	--font-size-desk-lg: 1.25rem; /* 20 Px */
	--font-size-mob-lg: 1rem; /* 16 Px */
	--font-size-giant-sm: 1.25rem; /* 20 Px */
	--font-size-desk-sm: 1rem; /* 16 Px */
	--font-size-mob-sm: 0.75rem; /* 12 Px */

	--section-padding-g: 4rem;
	--section-padding-d: 3rem;
	--section-padding-m: 1rem;
	--section-margin-g: 5rem;
	--section-margin-d: 4rem;
	--section-margin-m: 2.5rem;
	--rounded: 3rem;
	--logo-color: black;
  --paragraph-margin: 0;
}

@font-face {
	font-family: 'JJannon Book';
	src: url('/fonts/JJannon-Book.woff2') format('woff2'),
		url('/fonts/JJannon-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Book Italic';
	src: url('/fonts/JJannon-Italic.woff2') format('woff2'),
		url('/fonts/JJannon-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Bold';
	src: url('/fonts/JJannon-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Bold Italic';
	src: url('/fonts/JJannon-BoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Display Regular';
	src: url('/fonts/JJannonDisplay-Regular.woff2') format('woff2'),
		url('/fonts/JJannonDisplay-Regular.woff2') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Display Italic';
	src: url('/fonts/JJannonDisplay-Italic.woff2') format('woff2'),
		url('/fonts/JJannonDisplay-Italic.woff2') format('woff');
	font-style: italic;
	font-display: swap;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body, {
	font-family: var(--font-serif);
	font-weight: 400;
}

p {
	margin: var(--paragraph-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-serif);
	font-weight: 400;
}

a {
  color: inherit;
}

/* The below font size declarations were being used  and meaning any component level wasn't applying, so commented out whilst I move to the component level definitions and then I'll remove.*/
.content {
	font-family: var(--font-serif);
	font-weight: 400;
	text-align: center;
}

strong {
	font-weight: 700;
	font-family: var(--font-serif-bold);
}

em {
	font-family: var(--font-serif-italic);
}

strong em {
	font-family: var(--font-serif-bold-italic);
}
