:root {
	--max-width: 1400px;
	--red: #ff0000;
	--white: #ffffff;
	--black: #000000;
	--grey: #999999;
	--font-serif: 'JJannon Book', serif;
	--font-serif-italic: 'JJannon Book Italic', serif;
	
	--font-size-desktop: 1.6rem;  /* Equivalent to 16px */
	--font-size-mobile: 1.3rem;   /* Equivalent to 13px */
	--full-space: 5.2rem;         /* Equivalent to 52px */
	--half-space: 2.6rem;         /* Equivalent to 26px */
	--quarter-space: 1.3rem;      /* Equivalent to 13px */

	--breakpoint-giant-desktop: 2500px;
	--breakpoint-large-desktop: 1700px;
	--breakpoint-desktop: 1280px;
	--breakpoint-tablet: 800px;


	/* Giant = 1600, Desk = 1024, Mob = Under 1024 */
	--font-size-giant-lg: 2.25rem;  /* 36 Px */
	--font-size-mob-lg: 0.875; /* 14 Px */
	--font-size-giant-sm: 1.25rem; /* 20 Px */
	--font-size-mob-sm: 0.875; /* 14 Px */
	--font-global-line-height: 115%;

	--pad-giant-sm: 1.5rem;
	--pad-giant-lg: 2rem;
	--pad-desk-sm: 1rem;
	--pad-desk-lg: 1.5rem;
	--pad-desk-xl: 2rem;
	--pad-mob-sm: 0.75rem;
	--pad-mob-lg: 1rem;

	--max-width-giant: 100rem;
	--max-width-desk: 60rem;
	--max-width-mob: 24rem;

	--content-p-max-width: 50rem;

	--section-padding-g: 4rem;
	--section-padding-d: 3rem;
	--section-padding-m: 1rem;
	--section-margin-g: 5rem;
	--section-margin-d: 4rem;
	--section-margin-m: 2.5rem;
	--rounded: 3rem;
	--logo-color: black;
	--paragraph-margin: 0;
	--paragraph-alignment: center;
}

@font-face {
	font-family: 'JJannon Book';
	src: url('/fonts/JJannon-Book.woff2') format('woff2'),
		url('/fonts/JJannon-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Book Italic';
	src: url('/fonts/JJannon-Italic.woff2') format('woff2'),
		url('/fonts/JJannon-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Bold';
	src: url('/fonts/JJannon-Bold.woff') format('woff');
	font-style: normal;
	 
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Bold Italic';
	src: url('/fonts/JJannon-BoldItalic.woff') format('woff');
	font-style: italic;
	 
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Display Regular';
	src: url('/fonts/JJannonDisplay-Regular.woff2') format('woff2'),
		url('/fonts/JJannonDisplay-Regular.woff2') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JJannon Display Italic';
	src: url('/fonts/JJannonDisplay-Italic.woff2') format('woff2'),
		url('/fonts/JJannonDisplay-Italic.woff2') format('woff');
	font-style: italic;
	font-display: swap;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	font-family: var(--font-serif);
	font-size: 10px;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--font-size-desktop);
	font-family: var(--font-serif);
	font-weight: 400;
}

a {
  color: inherit;
  font-size: var(--font-size-desktop);
}

span {
	font-size: var(--font-size-desktop);
}

/* The below font size declarations were being used  and meaning any component level wasn't applying, so commented out whilst I move to the component level definitions and then I'll remove.*/
.content {
	font-family: var(--font-serif);
	font-weight: 400;
	text-align: var(--paragraph-alignment);
	max-width: var(--content-p-max-width);
}

.content p:first-of-type {
	margin: var(--paragraph-alignment);
}

p, li, a, ul {
	font-size: var(--font-size-desktop);
}

strong {
	font-size: var(--font-size-desktop);
	font-family: var(--font-serif);
}

em {
	font-size: var(--font-size-desktop);
	font-family: var(--font-serif-italic);
}

strong em {
	font-size: var(--font-size-desktop);
	font-family: var(--font-serif-italic);
}
